//Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

// Colores

$background-color: #191919;
$font-color-one: #fb8f2a;
$font-color-two: #d1c64d;

/* Estilos Globales */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

/* Tipografía */
