@import '../index.scss';

$small: 411px;
$medium: 768px;

.checkout__form__input {
  position: relative;
  margin-top: 10px;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  outline: none;
  resize: none;
}

.checkout__form__input span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.checkout__form__input__button {
  margin-top: 40px !important;
  background-color: nth($colors, 4);
  color: #191919;
  font-weight: bold;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  outline: none;
  border: none;
  border-bottom: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;

  &:hover {
    background-color: nth($colors, 3);
  }
  @media screen and (max-width: $small) {
    width: 110px;
    padding: 0.8em;
  }
}

.checkout__form__buttons__container {
  display: flex;
  justify-content: center;
}

.checkout__form__input input:focus ~ span,
.checkout__form__input input:valid ~ span {
  color: #fb8f2a;
  font-size: 12px;
  transform: translateY(-20px);
}
