$small: 411px;
$medium: 768px;

.footer__container {
  height: 300px;
  width: 100vw;
  background-color: #191919;
  display: flex;

  @media screen and (max-width: $small) {
    flex-direction: column;
    height: 420px;
  }
}

.footer__image {
  @media screen and (max-width: $small) {
    width: 100vw;
  }
}

.footer__item {
  flex: 1;
  position: relative;
  display: flex;
}

.footer__item:last-child {
  flex: 2;
  padding: 50px;
  justify-content: space-between;
  @media screen and (max-width: $small) {
    padding: 0px;
  }
}

.footer__card {
  flex: 1;
  padding: 0 20px;

  @media screen and (max-width: $small) {
    margin-top: 20px;
    padding: 0px;
  }
}

.footer__title {
  font-size: 18px;
  color: #fff;
  @media screen and (max-width: $small) {
    font-size: 13px;
  }
}

.footer__text {
  margin-top: 10px;
  color: goldenrod;
  @media screen and (max-width: $small) {
    font-size: 12px;
  }
}

.footer__motto {
  color: #fff;
  @media screen and (max-width: $small) {
    font-size: 20px;
  }
}
