@import '../index.scss';

$small: 411px;
$medium: 768px;

.navigation {
  background: nth($colors, 1);
  border-bottom: 1px solid #191919;
  width: 100vw;
  height: 4em;
  padding: 50px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 1000;
  position: fixed;

  @media screen and (max-width: $small) {
    padding: 40px 40px;
  }
}

.navbar-logotype {
  background-image: linear-gradient(45deg, nth($colors, 3), nth($colors, 4));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
  @media screen and (max-width: $small) {
    padding-top: 1px;
  }
}

.nav__links {
  background-image: linear-gradient(45deg, nth($colors, 3), nth($colors, 4));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15px;
}

.fa-bars {
  background-image: linear-gradient(45deg, nth($colors, 3), nth($colors, 4));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.navbar-logotype {
  justify-self: start;
  font-size: 2rem;
  @media screen and (max-width: $small) {
    font-size: 1.2em;
    margin-top: 11px;
  }
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  width: 70vw;
}

.nav__item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav__links {
  padding: 0.5rem 1rem;
  &:hover {
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
}

.menu-icon {
  display: none;
}

.cart__icon {
  padding-left: 0.9em;
  margin-top: 15px;
  margin-right: 16px;
  background-image: linear-gradient(45deg, nth($colors, 3), nth($colors, 4));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: $small) {
    padding-left: 0;
    margin-left: 150px;
  }
}

.counter__icon {
  position: absolute;
  top: 25px;
  right: 90px;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: nth($colors, 3);
  @media screen and (max-width: $small) {
    top: 468px;
    right: 143px;
  }
}

.counter__icon__text {
  color: nth($colors, 2);
  font-size: 1rem;
  z-index: 999999;
}

.counter__icon__two {
  position: absolute;
  top: 25px;
  right: 90px;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: nth($colors, 3);
  @media screen and (max-width: $small) {
    top: 353px;
    right: 143px;
  }
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: nth($colors, 1);
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-logotype {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.5em;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: nth($colors, 2);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    color: nth($colors, 2);
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    transition: 250ms;
  }

  button {
    display: none;
  }
}
