@import '../index.scss';

$small: 411px;
$medium: 768px;

.about {
  background: #fff;
  padding: 60px 0px;
}

.about h1 {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  font-weight: 500;
  color: #191919;
  margin-bottom: 40px;
  @media screen and (max-width: $small) {
    font-size: 25px;
  }
}

.about h1::after {
  content: '';
  position: absolute;
  width: 170px;
  height: 3px;
  bottom: 0;
  background: #191919;
  left: 50%;
  transform: translateX(-50%);
}

.about h2 {
  color: #191919;
  text-align: center;
}

.about .card,
.about .card img {
  border-radius: 15px;
}

.about .text-secondary {
  padding-left: 2rem;
}

.about-type {
  padding-top: 3.25rem;
}

.list-unstyled {
  text-align: center;
}

.about-type ul li {
  font-size: 1rem;
  color: #191919;
  line-height: 32px;
  position: relative;
  margin-left: 30px;
}

.about__image,
.about__image2 {
  max-height: 380px;
}

.about-type ul li::before {
  position: absolute;
  left: 3.1rem;
  color: #191919;
  font-size: 1.25rem;
  content: '\f00c';
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  @media screen and (max-width: $small) {
    left: 0.3rem;
  }
}

.about p {
  text-align: center;
  color: #191919;
  margin-top: 20px;
}

.main-btn {
  margin-top: 40px !important;
  background-color: nth($colors, 4);
  color: #191919;
  font-weight: bold;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;

  &:hover {
    background-color: nth($colors, 3);
  }
  @media screen and (max-width: $small) {
    width: 130px;
    padding: 0.8em;
  }
}
