@import '../index.scss';
@import '../index.scss';

$small: 411px;
$medium: 768px;

.hero-container {
  position: sticky;
  background: #191919;
  display: flex;
  justify-content: center;
  padding-top: 158px;
  align-items: center;
  width: 100vw;
  @media screen and (max-width: $small) {
    max-width: 100%;
    flex-direction: column;
    margin-top: 5em;
    padding-top: 0;
  }
}

.hero-title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6em;
  @media screen and (max-width: $small) {
    margin: 3em;
  }
}

.hero-title {
  font-size: 6em;
  background-image: linear-gradient(45deg, nth($colors, 3), nth($colors, 4));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (max-width: $small) {
    font-size: 2em;
  }
}

.hero-subtitle {
  font-size: 1.3em;
  margin-top: 1em;
  text-align: center;
  background-image: linear-gradient(45deg, nth($colors, 3), nth($colors, 4));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-button {
  margin-top: 40px !important;
  background-color: nth($colors, 4);
  color: #191919;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4em;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  &:hover {
    background-color: nth($colors, 3);
  }
  @media screen and (max-width: $small) {
    padding: 1em;
  }
}

.hero-img {
  width: 450px;
  height: 70%;
  filter: brightness(0.5);
  @media screen and (max-width: $small) {
    height: 50%;
    width: 360px;
  }
}
