.hero-container {
  height: 100vh;
  background: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title__container {
  color: whitesmoke;
  margin: 3em;
}

.hero-img {
  width: 50%;
  height: 50%;
  filter: brightness(0.5);
}
