// @import '../index.scss';
@import '../index.scss';
@import '../index.scss';

$small: 411px;
$medium: 768px;

section {
  background: #191919;
}

.login {
  max-height: 750px;
  @media screen and (max-width: $small) {
    max-height: 1150px;
  }
}

.container__row {
  background: #fff;
  border-radius: 30px;
  margin-top: 70px;
  margin-bottom: 120px;
}

.login img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100%;
  width: 100%;
  background-size: cover;
  border-right: 3px solid #191919;

  @media screen and (max-width: 450px) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-right: none;
  }
}

@media screen and (max-width: 450px) {
  form {
    margin-left: -15px;
  }
}

.login h1 {
  font-weight: 700;
  font-size: 2rem;
  @media screen and (max-width: $small) {
    font-size: 1.2em;
    margin-top: -50px;
  }
}

.input-email,
.input-password {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 30px -11px (rgba(0, 0, 0, 0.75));
  -moz-box-shadow: -1px 1px 30px -11px (rgba(0, 0, 0, 0.75));
}

.btn-login {
  margin-top: 40px !important;
  background-color: nth($colors, 4);
  color: #191919;
  font-weight: bold;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  &:hover {
    background-color: nth($colors, 3);
  }
  @media screen and (max-width: $small) {
    padding: 0.7em;
  }
}

.fa-facebook {
  margin: 0 10px;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(39, 39, 192);
}

.fa-google {
  margin: 0 10px;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(224, 22, 72);
}

.form-error {
  font-size: 1rem;
}

.form-error2 {
  margin-top: 1rem;
  font-size: 1rem;
}
