$small: 411px;
$medium: 768px;

.productCard__container {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

  @media screen and (max-width: $small) {
    justify-content: center;
  }
}

.productCard {
  padding: -8px;
  cursor: pointer;
  @media screen and (max-width: $small) {
    padding-bottom: 40px;
  }
}

.productCard__image {
  max-width: 240px;
  max-height: 260px;
}

.productCard__title {
  padding: 5px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #191919;
}

.productCard__price {
  padding: 3px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-top: -30px;
}

.productCard__description {
  text-align: center;
  color: #777;
}
