@import '../index.scss';
$small: 411px;
$medium: 768px;

.services {
  padding: 100px 0;
}

.services__container {
  max-width: 100%;
  padding: 0 45px;
  margin: auto;
  @media screen and (max-width: $medium) {
    padding: 0 25px;
  }
}

.services__container h1 {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-weight: 500;
  color: #fff;
  @media screen and (max-width: $small) {
    font-size: 20px;
  }
}

.services__container h1::after {
  content: '';
  position: absolute;
  width: 170px;
  height: 3px;
  bottom: 0;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.services__content {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.services__card {
  padding: 50px 25px;
  width: calc(26% - 20px);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.342);
  text-align: center;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }

  @media screen and (max-width: $medium) {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  @media screen and (max-width: $small) {
    width: 100%;
  }
}

.services__card:hover {
  background: linear-gradient(45deg, nth($colors, 3), nth($colors, 4));
}

.services__card:hover .services__box {
  transform: scale(1.05);
}

.services__box {
  transition: all 0.3s ease;
}

.services__box i {
  font-size: 50px;
  color: #fdae64;
  transition: color 0.3s ease;
}

.services__box h3 {
  font-size: 25px;
  padding: 10px 0 7px;
}
