.product__card {
  cursor: pointer;
  width: 280px;
  height: 430px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.product__card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__card__img__top {
  object-fit: cover;
  max-width: 150px;
  height: 200px;
}

.product__card__title {
  font-size: 18px;
  margin-top: 10px;
}

.product__card__text {
  text-align: justify;
  word-break: break-all;
}

.product__card__price {
  margin-top: 10px;
  margin-bottom: -10px;
}

.product__card__description {
  margin-top: 15px;
}
